<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="criticismEngineImpl" class="com.roger.study.core.aspect.inject_aspect.CriticismEngineImpl" >
        <property name="criticismPool">
            <list>
                <value>Worst prtformance ever!</value>
                <value>I laughed,I cried,then I realized I was at the wrong show.</value>
                <value>A must see show!</value>
            </list>
        </property>
    </bean>

    <bean class="com.roger.study.core.aspect.inject_aspect.CriticAspect"
          factory-method="aspectOf">
        <property name="criticismEngine" ref="criticismEngineImpl" />
    </bean>
</beans>